* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}

h1 {
  font-family: $headerFont;
}

h2, h3, h4, h5, h6 {
  font-family: $secondaryFont;
}

a {
  text-decoration: none;
}


// Transition Dropdown Menu Vuejs
.fade-enter-active {
  transition: all .3s ease;
}
.fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(40px);
  opacity: 0;
}
