$headerFont: 'Bodoni Moda', serif;
$fontPage: 'Rubik', sans-serif;
$defoultTextColor: #192836;

$widthCont: 60%;

$backgroundMain: #FFFFFF;
$redText: #D74D52;

$colorTextCard: #192836;
$boxShadowCard: #ebebeb 6px 9px 47px -4px;
